<!DOCTYPE html>
<html  data-theme="dim" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}">
  <title>modoo calendar</title>
</head>
<body>
  <div class="flex flex-col w-screen h-screen items-center justify-center">
    {% if error %}
    <div class="font-bold text-center">{{error.msg}}</div>
    <a onclick="location.href='/signup'" class="btn">로그인</a>
    {% else %}
    <div class="font-bold text-center">요청시간이 만료되었습니다</div>
    <a onclick="location.href='/signup'" class="btn">로그인</a>
    {% endif%}
    </div>
  </div>
</body>
</html>