<!DOCTYPE html>
<html  data-theme="dim" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}">
  <title>modoo calendar</title>
</head>
<body >
  <div class="flex flex-col items-center gap-4">
    <div class="font-bold text-center"> modoo calendar </div>
    <div class="font-mono text-lg"> {{username}}님 환영합니다 </div>
  </div>
  <div class="flex flex-col w-screen h-screen items-center justify-center gap-4">
    <div class="font-bold text-center"> 그룹정보를 입력해주세요 </div>
    <form action="/create_group" method="POST"
    class="*:text-left flex flex-col gap-2 bg-white shadow-md rounded-xl p-5">
      <input name="title" type="text" class="btn" placeholder="방이름" required >
      <input name="date" type="date" class="btn w-full" required >
      <button class="btn btn-accent">방만들기</button>
    </form>
    <a href="/lobby" class="text-white text-sm text-center -mt-2">로비로 나가기</a>
  </div>
  <script>
  </script>
</body>
</html>