<!DOCTYPE html>
<html  data-theme="dim" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}">
  <title>modoo calendar</title>
</head>
<body >
  <div class="flex flex-col items-center gap-4">
    <div class="font-bold text-center"> modoo calendar </div>
    <div class="font-mono text-lg"> {{user.username}}님 환영합니다 </div>
  </div>
  <div class="flex flex-col w-screen h-screen items-center justify-center gap-4">
    <div class="font-bold text-center"> 그룹정보를 입력해주세요 </div>
    <div class="flex flex-col gap-2">
      <input id="enter_btn" class="btn" required >
      <button class="btn btn-accent">방만들기</button>
    </div>
  </div>
  <script>
  </script>
</body>
</html>