<!DOCTYPE html>
<html  data-theme="dim" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}">
  <title>modoo calendar</title>
</head>
<body >
  <div class="flex flex-col items-center gap-4">
    <div class="font-bold text-center"> modoo calendar </div>
    <div class="font-mono text-lg"> {{username}}님 환영합니다 </div>
  </div>
  <div class="flex flex-col w-screen h-screen items-center justify-center gap-4">
    <div class="font-bold text-center"> 그룹코드를 입력해주세요 </div>
    <div class="flex flex-col gap-2">
      <input id="groupCode" class="btn" required >
      <button id="enter_btn" class="btn btn-info">입장</button>
      <button onclick="location.href='/group'" class="btn btn-accent">방만들기</button>
    </div>
  </div>
  <script>
    const enter_btn = document.getElementById("enter_btn");
    enter_btn.addEventListener('click', async ()=>{
      const groupCode = document.getElementById('groupCode')
      let input = groupCode.value
      try{
        const response = await fetch('/find_group', {
          method: 'POST',
          headers:{
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            group_code: input
          })
        });
        result = await response.json();

        if (response.status == 200) {
          window.location.href = `/schedule/${input}`;
        }

        else if (response.status == 404) {
          alert(result.msg);
        }

        else {
          window.location.href = '/error';
      }
      } catch(error) {
        window.location.href = '/error.html'
      }
    })

  </script>
</body>
</html>