<!DOCTYPE html>
<html data-theme="dim" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='/main.css')}}" />
    <title>modoo calendar</title>
  </head>
  <body>
    <div
      id="wrap"
      class="flex flex-col gap-2 w-screen h-screen items-center md:justify-center  md:flex-row pt-[100px] md:pt-0"
      >
      
      <div class="md:fixed font-mono text-5xl -mt-[40px] md:-mt-[900px]">--{{title}}</div>
        <!-- 시간 -->
        <div class="flex flex-col items-center md:mr-10">
          <div class="font-mono text-lg">내 시간표</div>
          <!-- 요일 -->
          <div class="flex flex-row gap-3">
            <div class="flex flex-col mt-[25px]">
              <div class="time">00:00</div>
              <div class="time">01:00</div>
              <div class="time">02:00</div>
              <div class="time">03:00</div>
              <div class="time">04:00</div>
              <div class="time">05:00</div>
              <div class="time">06:00</div>
              <div class="time">07:00</div>
              <div class="time">08:00</div>
              <div class="time">09:00</div>
              <div class="time">10:00</div>
              <div class="time">11:00</div>
              <div class="time">12:00</div>
              <div class="time">13:00</div>
              <div class="time">14:00</div>
              <div class="time">15:00</div>
              <div class="time">16:00</div>
              <div class="time">17:00</div>
              <div class="time">18:00</div>
              <div class="time">19:00</div>
              <div class="time">20:00</div>
              <div class="time">21:00</div>
              <div class="time">22:00</div>
              <div class="time">23:00</div>
              <div class="time">24:00</div>
          </div>
          <div id="my_calendar" class="grid grid-cols-7 bg-white mb-5">
            <div class="week">월</div>
            <div class="week">화</div>
            <div class="week">수</div>
            <div class="week">목</div>
            <div class="week">금</div>
            <div class="week">토</div>
            <div class="week">일</div>
            {% for row in myschedule %} {% for cell in row%} {% if cell == '0' %}
            <div id="cell" class="cell_nomal" data-active="0"></div>
            {% else %}
            <div id="cell" class="cell_nomal cell_select" data-active="1"></div>
            {% endif %} {% endfor %} {% endfor %}
          </div>
        </div>
        <button id="submit" class="btn btn-primary px-4 mb-10 w-1/2">작성</button>
      </div>
      <div class="flex flex-col items-center md:mr-10">
        <div class="font-mono text-lg">공유시간표</div>
        <!-- 요일 -->
        <div class="flex flex-row gap-3">
          <div class="flex flex-col mt-[25px]">
            <div class="time">00:00</div>
            <div class="time">01:00</div>
            <div class="time">02:00</div>
            <div class="time">03:00</div>
            <div class="time">04:00</div>
            <div class="time">05:00</div>
            <div class="time">06:00</div>
            <div class="time">07:00</div>
            <div class="time">08:00</div>
            <div class="time">09:00</div>
            <div class="time">10:00</div>
            <div class="time">11:00</div>
            <div class="time">12:00</div>
            <div class="time">13:00</div>
            <div class="time">14:00</div>
            <div class="time">15:00</div>
            <div class="time">16:00</div>
            <div class="time">17:00</div>
            <div class="time">18:00</div>
            <div class="time">19:00</div>
            <div class="time">20:00</div>
            <div class="time">21:00</div>
            <div class="time">22:00</div>
            <div class="time">23:00</div>
            <div class="time">24:00</div>
        </div>
        <div id="my_calendar" class="grid grid-cols-7 bg-white mb-5">
          <div class="week">월</div>
          <div class="week">화</div>
          <div class="week">수</div>
          <div class="week">목</div>
          <div class="week">금</div>
          <div class="week">토</div>
          <div class="week">일</div>
          {% for row in myschedule %} {% for cell in row%} {% if cell == '0' %}
          <div id="cell" class="cell_nomal" data-active="0"></div>
          {% else %}
          <div id="cell" class="cell_nomal cell_select" data-active="1"></div>
          {% endif %} {% endfor %} {% endfor %}
        </div>
      </div>
      <button id="submit" class="btn btn-accent px-4 mb-10 w-1/2">불러오기</button>
    </div>
    </div>

    <script>
      const $myCal = document.getElementById("my_calendar");
      const $cells = document.querySelectorAll("#cell");
      function clcikCell(e) {
        const target = e.target;
        const targetData = target.dataset;
        if (targetData.active === "0") {
          targetData.active = "1";
          target.className = "cell_nomal cell_select";
        } else {
          targetData.active = "0";
          target.className = "cell_nomal";
        }
      }
      function clickSubmit(e) {
        const codeArr = [];
        for (let row = 0; row < 175; row += 7) {
          let activeCode = "";
          for (let cell = row; cell < row + 7; cell++) {
            activeCode += $cells[cell].dataset.active;
          }
          codeArr.push(parseInt(activeCode, 2));
        }
        const code = codeArr.toString();
        console.log(code);
      }

      const $submitBtn = document.getElementById("submit");
      $submitBtn.addEventListener("click", clickSubmit);

      $cells.forEach(($cell) => {
        $cell.addEventListener("click", clcikCell);
      });
    </script>
  </body>
</html>
